*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

ul, ol, li{
    list-style: none;
}

body{
    font-family: "Poppins", sans-serif;
    padding: 64px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
    border-bottom: 1px solid #cfcfcf;
    padding-bottom: 30px;
}

header img{
    height: 45px;    
}

header input{
    font-family: "Poppins", sans-serif;
    height: 42px;
    flex-grow: 1;
    padding: 0 16px;
    border: 1px solid #bb1829;
    outline: none;
    border-radius: 4px;
}

header button{
    height: 42px;
    padding: 0 8px;
    border: none;
    background-color: #bb1829;
    border-radius: 12px;
    color: white;
    cursor: pointer;

}

.card-contato{
    margin-top: 20px;
    height: 300px;
    width: 250px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: 1px solid #cfcfcf;
    border-bottom: 15px solid #bb1829;
}

.card-contato img{
    width: 180px;
    border-radius: 50%;
}

.container{
    padding-top: 32px;
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
}

form {
    width: 80%;
    margin: auto;
    padding: 32px;
    display: none;
    flex-wrap: wrap;
    gap: 16px;
}

.preview{
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 2px solid #bb1829;
    overflow: hidden;
}

.preview-input{
    display: none;
}

.preview-label{
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
}

.preview-image{
    width: 100%;
    height: 100%;
}

.input-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.input{
    display: flex;
    width: 80%;
    flex-direction: column;
}

.input-text{
    height: 32px;
    border: 2px solid #bb1829;
    outline: none;
    padding-left: 16px;
}

.button-container{
    min-width: 100px;
    display: flex;
    justify-content: space-evenly ;
    
}

